click>=8.0.1
dropbox>=9.4.0
pygithub>=1.55
todoist-python>=8.1.1
requests==2.22.0
configparser==4.0.2
certifi==2023.5.7
chardet==3.0.4
future==0.18.3
macholib==1.11
pefile==2019.4.18
pip==19.2.3
dropbox==9.4.0