#!/usr/bin/make -f

EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=17.1" --preinstall "wheel"

ifeq (1,$(shell grep -iscm1 xenial /etc/os-release))
    SNAKE=/usr/bin/python3.5
else
    SNAKE=/usr/bin/python3
endif

PACKAGE=$(shell dh_listpackages)
VERSION=$(shell parsechangelog | grep ^Version: | sed -re 's/[^0-9]+([^-]+).*/\1/')
DH_VENV_ARGS=--setuptools --python $(SNAKE) $(EXTRA_REQUIREMENTS) --extra-pip-arg "--no-index" --extra-pip-arg "--find-links=file://${PWD}/debian/pypi
DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)

%:
	dh $@ --with python-virtualenv 

override_dh_virtualenv:
	dh_virtualenv $(DH_VENV_ARGS)

